<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd"
	default-autowire="byName">
    <!-- ======================================================================== -->
    <!--  							DAO生成										  -->
    <!-- ======================================================================== -->
#foreach ($table in $plugin.sortedTables)
    <bean id="${table.beanName}DAO" class="${table.package}.ibatis.Ibatis${table.baseClassName}DAO" parent="zfbBaseSqlMapClientDAO"/>
#end
    
	<bean id="businessActionDAO"
		class="com.alipay.sofa.platform.xts.bacs.store.dal.impl.IbatisBusinessActionDAO"
		parent="zfbBaseSqlMapClientDAO" />

	<bean id="businessActivityDAO"
		class="com.alipay.sofa.platform.xts.bacs.store.dal.impl.IbatisBusinessActivityDAO"
		parent="zfbBaseSqlMapClientDAO" />
		
</beans>